body {
    font-family: Arial, sans-serif;
}

.slider-container {
    position: relative;
    max-width: 800px;
    margin: auto;
}

.slider {
    display: flex;
    overflow: hidden;
}

.slider img {
    width: 100%;
    display: none;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
}


.prev {
    left: 0;
}

.next {
    right: 0;
}
